# no generated node stuff
**/node_modules
**/package-lock.json

# no compiled output
**/bundle*.js*

webroot/style
bob.log
boblog
puppeteer-tests/node_modules
puppeteer-tests/test-results/Logs(failure)/*
puppeteer-tests/test-results/Screenshots(success)/*
node_modules
.idea
