#demo-wrapper{
  margin: 0 auto 4vh auto;
}

#demo-text {
  font-family: "open sans", helvetica, sans-serif;
  margin: 0 auto;
  font-size: 2.1vmin;
  text-align: center;
}

#demo {
  height: 66vmin;
  width: 50vw;
  margin: 0 auto;
}

#carousel {
  position: absolute;
}

.outer {
  background-image: url("https://preview.ibb.co/eAf95f/a86e5e98dda0fb8c4e5c849b0aac1cdf.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner {
  position: relative;
  left: 0px;
  top: 0px;
}

iframe {
  background-image: url("https://i.stack.imgur.com/h6viz.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #a5252d;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: white;
  line-height: 30px;
  margin-top: 27vmin;
  z-index: 1000;
}

.arrow-right {
  left: 103vmin;
}

.item {
  text-align: center;
  color: black;
  font-size: 30px;
  position: absolute;
  transition: height 0.3s, width 0.3s, left 0.3s, margin-top 0.3s, line-height 0.3s, background-color 0.3s;
}

.level1 .image, .level-1 .image {
  width: 23vmin;
  height: 40vmin;
  top: 6vmin;
}

.level0 .image {
  width: 26vmin;
  height: 47vmin;
  top: 7vmin;
}

.level0 .outer {
  height: 60.5vmin;
}

.level-1 .outer, .level1 .outer {
  height: 52vmin;
}

.level-1 {
  height: 52vmin;
  width: 25vmin;
  line-height: 4vmin;
  left: 71vmin;
  margin-top: 2vmin;
}

.level0 {
  height: 60.5vmin;
  width: 29vmin;
  line-height: 4vmin;
  left: 37vmin;
  margin-top: 2vmin;
}

.level1 {
  height: 52vmin;
  width: 25vmin;
  line-height: 4vmin;
  margin-top: 2vmin;
  left: 7vmin;
}

.left-enter {
  opacity: 0;
  left: -18vmin;
  height: 49vmin;
  width: 23vmin;
  line-height: -26vmin;
  margin-top: 40px;
}

.left-enter.left-enter-active {
  opacity: 1;
  left: 7vmin;
  height: 52vmin;
  width: 25vmin;
  line-height: 4vmin;
  margin-top: 10px;
  transition: left 0.3s, opacity 0.3s, height 0.3s, width 0.3s, margin-top 0.3s, line-height 0.3s;
}

.left-leave {
  opacity: 1;
  left: 71vmin;
  height: 52vmin;
  width: 25vmin;
  line-height: 4vmin;
  margin-top: 25px;
}

.left-leave.left-leave-active {
  left: 98vmin;
  opacity: 0;
  height: 49vmin;
  line-height: 4vmin;
  margin-top: 40px;
  width: 23vmin;
  transition: left 0.3s, opacity 0.3s, height 0.3s, width 0.3s, margin-top 0.3s, line-height 0.3s;
}

.right-enter {
  opacity: 0;
  left: 96vmin;
  height: 49vmin;
  width: 23vmin;
  line-height: 1vmin;
  margin-top: 40px;
}

.right-enter.right-enter-active {
  left: 71vmin;
  opacity: 1;
  height: 52vmin;
  margin-top: 10px;
  line-height: 4vmin;
  width: 25vmin;
  transition: left 0.3s, opacity 0.3s, height 0.3s, width 0.3s, margin-top 0.3s, line-height 0.3s;
}

.right-leave {
  left: 7vmin;
  height: 52vmin;
  opacity: 1;
  margin-top: 25px;
  line-height: 4vmin;
  width: 25vmin;
}

.right-leave.right-leave-active {
  left: -18vmin;
  opacity: 0;
  height: 49vmin;
  width: 23vmin;
  line-height: 1vmin;
  margin-top: 40px;
  transition: left 0.3s, opacity 0.3s, height 0.3s, width 0.3s, margin-top 0.3s, line-height 0.3s;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* fixes for the mobile version*/
#demo-mobile-wrapper {
  margin: 0 auto 6vh auto;
}

#demo-mobile-text {
  font-family: "open sans", helvetica, sans-serif;
  margin: 0 auto;
  font-size: 4vmin;
  text-align: center;
}

#demo-mobile {
  height: 80vmin;
  margin: 0 auto;
}

#demo-mobile .level0 {
  height: 89vmin;
  width: 50vmin;
  left: 16.5vmin;
}

#demo-mobile .level0 .image {
  width: 33.5vmin;
  height: 57.5vmin;
  top: 15vmin;
}

#demo-mobile .arrow-right {
  left: 70vmin;
}