@font-face {
    font-family: "Bebas Neue";
    src: url('../fonts/bebasneue-subset.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monstserrat Regular";
    src: url('../fonts/montserrat-regular-subset.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4 {
    letter-spacing: normal;
    font-weight: normal;
    border: none;
    padding: initial;
    letter-spacing: initial;
    margin-bottom: initial;
    line-height: initial;
    background: initial;
    font-family: "Bebas Neue", bebas, helvetica, sans-serif !important;
    text-transform: uppercase;
}

.gl-red {
    background-color: #a4242c;
}

.gl-offwhite {
    background-color: #f8ecd2;
}

.gl-nav-borders {
    border-top: 5px solid #a4242c;
    border-bottom: 5px solid #a4242c;
}

.gl-navlink ,.gl-button-link {
    color: #FFFFFF;
    border-radius: 6px;
    background-color: #a4242c;
    font-family: "Bebas Neue", bebas, helvetica, sans-serif !important;
    padding-right: 1rem !important;
    margin-right: 1.5rem !important;
    padding-left: 1rem !important;
    margin-left: 1.5rem !important;
    font-size: 30px;
}

.gl-button-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.gl-navlink:hover, .gl-button-link:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.gl-font-1 {
    font-family: "Bebas Neue", bebas, helvetica, sans-serif !important;
}

.gl-big-body-text {
    font-size: 40px;
}

.gl-small-body-text {
    font-size: 25px;
}

.fit-width {
    width: 100%;
    height: auto;
    padding: 0;
}

.headliner-text-bold {
    font-weight: bold;
    font-size: 25px;
    text-align: justify;
}

.headliner-text {
    font-weight: normal;
    font-size: 20px;
    text-align: justify;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.headliner-row {
    padding-bottom: 5%;
    border-bottom: 3px solid;
    border-bottom-color: black;
}

.container.row{
    margin-left: -15px;
    margin-right: -15px;
}

.text-on-image {
    position: absolute;
    top: 33%;
    left: 10%;
    text-align: left;
}

.lesser-text-on-image {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: right;
}

.image-header {
    font-size: 40px;
    color: white;
    text-align: center;
}

.subtext {
    font-size: 25px;
    word-wrap: normal;
    font-style: italic;
    color: white;
    text-align: center;
}

.lesser-subtext {
    font-size: 15px;
    word-wrap: normal;
    color: white;
    text-align: center;
}

.lesser-image-header {
    font-size: 25px;
    word-wrap: normal;
    text-align: center;
    color: white;
}

.article-header {
    font-size: 35px;
    text-align: justify;
    font-weight: bold;
    color: black;
}

.article-body {
    font-size: 14px;
    text-align: justify;
    color: black;
}

.text-centered {
    text-align: center;
}

.bump-down {
    margin-top: 10%;
}

.pre-roll-type {
    min-width: 100%;
    max-width: 100vw;
    max-height: 100vh;
}

.emphasis {
    font-weight: bolder;
}

.z-index-1 {
    z-index: 1;
}