@font-face {
    font-family: 'BandaRegularRegular';
    src: url('regular-webfont.eot');
    src: url('regular-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('regular-webfont.woff') format('woff'),*/
         url('regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BandaBoldBold';
    src: url('bold-webfont.eot');
    src: url('bold-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('bold-webfont.woff') format('woff'),*/
         url('bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BandaThinThin';
    src: url('thin-webfont.eot');
    src: url('thin-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('thin-webfont.woff') format('woff'),*/
         url('thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}