.navbar-brand {
	height: 2em;
}

.navbar-brand img {
	height: 100%;
}

.ad-sizer {
	position: relative;
}

.ad-sizer .goodloopad, .ad-sizer iframe {
	position: absolute;
	top: 0;
	left: 0;
}

.ad-sizer .vpaid-container {
	width: 100%;
	height: 100%;
}

.ad-sizer.landscape .aspectifier {
	margin-top: 56.25%
}

.ad-sizer.portrait .aspectifier {
	margin-top: 177.77%
}

.ad-sizer.square .aspectifier {
	margin-top: 100%
}

/* variable-size, fixed-aspect containers: prevent margin collapse with aspectifier */
.ad-sizer.portrait, .ad-sizer.landscape, .ad-sizer.square {
	overflow: hidden;
}