.navbar-brand {
	height: 2em;
}

.navbar-brand img {
	height: 100%;
}

//// DemoWidget ////

.demo-div-container {
    width: 100%!important;
}

.half-bg {
    background-color: #830000;
    height: 50%;

    // Stretch red bg bar outside container
    width: 100vw;
    margin: -1px calc(~"-50vw + 50%");
    position: absolute;
    bottom: 0;
}

.device-white-bg {
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    &.landscape {
        width: 78%;
        height: 95%;
        left: 12%;
    }
    &.portrait {
        width: 32%;
        left: 34%;
        height: 100%;
    }
}

#frame {
    position: relative;
    margin: 0 auto;
    top: -7%;
    z-index: 999;
    width: 100%;
    &.landscape {
        width: 80%;
    }
    &.portrait {
        max-width: 35%;
    }
    // @media screen and (max-width: 767px) {
    //     width: 100%;
    //     left: 0;
    // }
}

.ad-container {
    position: absolute;
    &.desktop {
        width: 64%;
        left: 19%;
        top: 18%;
    }
    &.landscape {
        width: 70%;
        left: 15%;
        top: 6.5%;
        z-index: 990; // Puts ad behind device frame image
    }
    &.portrait {
        width: 30%;
        left: 35%;
        top: 7.5%;
        z-index: 990;
    }
}

.ad-sizer {
	position: relative;
	overflow: hidden; /* prevent margin collapse with aspectifier */
}

.ad-sizer .goodloopad, .ad-sizer iframe {
	position: absolute;
	top: 0;
	left: 0;
}

.ad-sizer .vpaid-container {
	width: 100%;
	height: 100%;
}

.ad-sizer.landscape .aspectifier {
	margin-top: 56.25%
}

.ad-sizer.portrait .aspectifier {
	margin-top: 177.77%
}

.ad-sizer.square .aspectifier {
	margin-top: 100%
}
//////////////////

.navbar {
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    z-index: 1200; // Necessary because of the z-index manipulation in the DemoWidget rules
}

.gl-icon-centred {
	position: absolute;
}

#navbar {
	justify-content: center;
    width: 100%;
    height: 4em;
}

.disabled-button {
	pointer-events: none;
}

.disabled-button.button-box:hover:after {
	width: 0;
}

/// DemoWidget Buttons ///
.option-button svg {
    width: 100%;
    max-height: 2.5em;
}

/// Navbar ///

.gl-bootstrap-navbar {
	justify-content: center;
}

nav.navbar.bg-light {
	background-color: white !important;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
}

.navbar-light .navbar-nav .nav-link {
	color: #678;
	line-height: 1.45;
	outline-width: 1px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	text-decoration-line: none;
	text-size-adjust: 100%;
	font-size: 2vw;
}

@media (min-width: 960px) {
	.navbar-light .navbar-nav .nav-link {
		font-size: 19.2px;
	}
}

.navbar-collapse {
	width: max-content;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, .nav-link {
	color: #000;
	text-transform: uppercase;
}

.dropdown-item.active, .dropdown-item:active {
	background-color: #790000;
}

.navbar-brand.gl-icon-centred {
	position: absolute;
	left: 50%;
	bottom: 0;
	margin: 0 0 -25px -25px;
	padding: 0;
	z-index: 1;

    width: 100%;
    height: 60%;
}

.navbar-gl-icon {
	width: 50px;
	height: 50px;
	padding: 5px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.shadowcaster {
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
	width: 50px;
	height: 25px;
	margin-top: 25px;
}

.fixed-navbar {
	position: fixed;
	width: 100%;
	margin-bottom: 15vh;
	top: 0;
	z-index: 999;
}

#mobileNavbar {
	position: absolute;
}

.gl-mobile-nav-btn {
	background-color: inherit;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	line-height: 1.45;
}

.mobile-only-nav {
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 2;
}

.mobile-only-gl-logo-div {
	text-align: center;
	position: relative;
	top: 1em;
}

.mobile-gl-logo {
	position: relative;
	z-index: 2;
	top: 4em;
	width: 120px;
	height: 120px;
}

.mr-auto {
	background-color: white;
	box-shadow: 0.05em 0.05em 0.1em rgba(1,1,1,0.5);
}

.navbar-nav .nav-link {
	font-size: 2em;
}

#mobileNavbar {
	right: 10px;
}

