
// Button LESS

.btn {
	vertical-align: middle;
	padding: 0.25em 0.5em;
	border-radius: 0;
	border-width: 1px;
	border-style: solid;
	border-color: currentColor;
	box-shadow: none !important;
	font-weight: bold;
	color: currentColor;
	&:hover {
		border-radius: 1rem;
	}
}

.btn.disabled {
	cursor: default;
}

.btn-primary {
	background-color: @gl-orange !important;
	color:white !important;
}

.btn-primary:hover:not(.disabled) {
	background-color: @gl-btn-hover !important;
	box-shadow: none !important;
	border: none !important;
}

.btn-primary:active:not(.disabled),
.btn-primary:focus:not(.disabled) {
	background-color: @gl-red !important;
	box-shadow: none !important;
	border: none !important;
}

.btn-secondary {
	background-color: white;
	color:black !important;
	mix-blend-mode: screen;
}

.btn-secondary:hover:not(.disabled) {
	background-color: @gl-btn-hover !important;
	box-shadow: none !important;
	border: none !important;
}

// TODO: btn-secondary:focus not working??
.btn-secondary:active:not(.disabled),
.btn-secondary:focus:not(.disabled) {
	background-color: @gl-red !important;
	box-shadow: none !important;
	border: none !important;
}