@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.format-picker .picker-button {
	margin: 1em 1em;
	font-size: 1.2em;
}

.format-picker.row {
	@media (max-width: 400px) {
		margin: 0!important;
	}
}

// .row {
// 	margin: 0!important;
// }

.device-picker .flex-row {
	display: flex;
	align-items: center;
}

.device-picker .picker-button {
	padding: 0 1em;
	max-width: 8em;
	min-width: 6em;
	height: 5em;

	display: inline-flex;
	align-items: center;

	// Make button's image vertically align.
	& * {
		vertical-align: middle;
		pointer-events: none;
	}

	&.desktop * {
		max-width: 90px;
	}

	@media (max-width: 350px) {
		padding: 0;
		min-width: 3em;
		svg {
			max-height: 3.5em;
		}
	}
}

.device-picker svg {
	max-width: 60px;
	max-height: 3.5em;
	margin: 0 auto;
	width: 100%;
	&.desktop {
		max-width: 6em; // Desktop (laptop) svg is slightly larger that the others
	}
}

.picker-button {
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15em;
	font-family: 'Montserrat', sans-serif;

	border: none;
	display: inline-block;
	position: relative;
	outline: none!important;
	background-color: #fff;

	// Standardises device picker buttons' height (SVG ones)
	&.device-picker {
		height: 5em;
	}

	// Make it clear this won't do anything useful
	&.disabled {
		color: lightgray!important;
		pointer-events: none!important;
	}

	// This creates the red underline under each button. It's got width of zero
	// and will grow to width 100% when hovered.
	&:after {
		background: none repeat scroll 0 0 transparent;
		bottom: 0;
		content: "";
		display: block;
		height: 2px;
		left: 50%;
		position: absolute;
		background: #830000;
		transition: width 0.3s ease 0s, left 0.3s ease 0s;
		width: 0;
	}

	&:hover {
		// Override boostrap bt hover styles
		background-color: transparent!important;
		&:not(.current) { // 
			color: #000!important;
		}
	}

	&:hover:after { 
		width: 100%; 
		left: 0; 
	}

	&.current {
		color: #830000;
		font-weight: 800;
		&:after {
			width: 100%;
			left: 0;
		}
	}

	// Shadow to pop out available svg buttons
	&:not(.disabled) {
		svg {
			filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.4));
		}
	}
}

.alert {
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 1em;
}

.demo-div-container {
	width: 100%!important;
}

// .red-bg, .half-bg {
// 	width: 100%;
// 	position: relative;
// 	&:before, &:after {
// 		content: '';
// 		display: block;
// 		height: 100%;
// 		width: 50vw;
// 		position: absolute;
// 		top: 0;
// 		z-index: -1;
// 	}

// 	&:before {
// 		right: 50%;
// 	}

// 	&:after {
// 		left: 50%;
// 	}
// }

// .red-bg {
// 	&:before, &:after {
// 		background-color: @gl-red;
// 	}
// }

// .half-bg {
// 	&:before, &:after {
// 		background-image: linear-gradient(to bottom, white 50%, @gl-red 50%);
// 	}
// }

.fake-feed, .social-ad {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

@feed-delay: 1.2s;

.fake-feed {
	background-color: black;
	background-size: 100%;

	.first { // first slide, not animated
		// code below centres social app logo and clips excess.
		width: 100%;
		display: inline-block;
		height: 100%;
		object-fit: cover;
	}

	// The background image for social mockups taken from portal
	.preview-image {
		// This two rules make sure the image covers the phone, even if sides have to be slightly cropped.
		height: 100%; 
		object-fit: cover;
	}

	// slides animated into place after delay
	// supports multiple, but we're likely only going to use one
	.snap-img { 
		width: 100%;
		position: absolute;
		background-color: black;
		transition: left (@feed-delay / 2) ease;
		&.delay1 { transition-delay: @feed-delay; }
		&.delay2 { transition-delay: (@feed-delay * 2); }
		&.delay3 { transition-delay: (@feed-delay * 3); }
		&.delay4 { transition-delay: (@feed-delay * 4); }
		&:not(.first) {
			left: 100%;
		}

		// Transparent overlay for mockup preview video
		&.overlay {
			background-color: transparent;
			position: absolute;
			pointer-events: none; // Makes content click-through
			z-index: 2; // ensures text is above .social-text-bg
		}

		// Using overlay assets from BOSE instagram campaign
		// 2 sections, one on top, other bottom.
		&.overlay-insta {
			background-color: transparent;
			pointer-events: none;
			&.top {
				top: 0;
				height: 15%;
				background-image: url('/img/overlay-insta-top2.png');
				background-position: center;

				//// This block is used to position the client/char logos in the top overlay
				.row {
					height: 100%;
					width: 100%;
					justify-content: space-between;
					position: absolute;
					margin: auto!important; // overrides BS margin behaviour for rows to properly centre div
					.col {
						height: 100%;
						max-width: 40%; // arbitrary max size of the logo in realtion to top overlay
						.overlay-logo-div {
							height: 100%;
							display: flex; // to centre image
							img { // client or charity logo
								// centre imgage maintaining aspect ratio
								max-height: 100%;
								max-width: 100%;
								margin: auto;
							}
						}
					}
				}
				//////
			}
			&.bot {
				bottom: 0;
			}
		}
	}
	&.visible .snap-img {
		left: 0;
	}

	.social-text-bg {
		position: absolute;
		width: 100%; // as wide as the phone
		height: 22%; // arbitrary value
		background-color: transparent; // default transparent, overid by player bg colour if set in portal
		bottom: 0; // fixed to the bottom of the phone
		pointer-events: none; // makes clicks fall-through
	}
}

// Off-set ad to slide it in when mounted.
.social-ad {
	background-color: white;
	top: 100%;
	transition: top 0.4s ease-in;
	&.show {
		top: 0;
	}
}

.adBanner {
    background-color: transparent;
    height: 1px;
    width: 1px;
}
