@import (css) url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import (css) url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// "Couldn't load ad" or "You have adblock enabled" warnings
.alert {
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 1em;
}

.demo-div-container {
	width: 100% !important;
}


// Common display class for various stacked-up elements in the simulated social display:
// fill the container and take position: absolute to stay out of flow.
.fill-abs {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

// Time to hold on each slide of the fake feed
@feed-delay: 1.2s;

/** Charity carousel animations */
@keyframes logoFade2a {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes logoFade2b {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}
@keyframes logoFade3a {
	0% { opacity: 1 }
	33.3% { opacity: 0}
	66.6% { opacity: 0}
	100% { opacity: 1}
}
@keyframes logoFade3b {
	0% { opacity: 0 }
	33.3% { opacity: 1 }
	66.6% { opacity: 0 }
	100% { opacity: 0 }
}
@keyframes logoFade3c {
	0% { opacity: 0 }
	33.3% { opacity: 0 }
	66.6% { opacity: 1 }
	100% { opacity: 0 }
}

// Animate the two- or three-charity carousel fade
.charity-carousel {
	.charity-logo {
		animation-iteration-count: infinite;
		object-fit: contain;
	}
	&.count2 {
		.charity-logo { animation-duration: 6s; }
		:nth-child(1) { animation-name: logoFade2a; }
		:nth-child(2) { animation-name: logoFade2b; }
	}
	&.count3 {
		.charity-logo { animation-duration: 9s; }
		:nth-child(1) { animation-name: logoFade3a; }
		:nth-child(2) { animation-name: logoFade3b; }
		:nth-child(3) { animation-name: logoFade3c; }
	}
}

/** Fade- or slide-in animations for fake-feed elements */
@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes slide-in {
	0% { left: 100%; }
	100% { left: 0; }
}

.fake-feed {
	background-color: black;
	background-size: 100%;
	// Watch out! This is tuned to make elements show at the right size
	// when the phone frame is 80vh tall - see device-frame.less
	font-size: 1.75vh;

	// Slightly hacky but convenient - apply this class to animate-in elements
	// and they'll show in the same order they appear in the HTML.
	.animate-in-sequence {
		&:nth-child(2) { animation-delay: @feed-delay * 1; }
		&:nth-child(3) { animation-delay: @feed-delay * 2; }
		&:nth-child(4) { animation-delay: @feed-delay * 3; }
		&:nth-child(5) { animation-delay: @feed-delay * 4; }
		&:nth-child(6) { animation-delay: @feed-delay * 5; }
	}
	.fade-in, .slide-in {
		animation-timing-function: ease-in-out;
		animation-fill-mode: both;
		animation-iteration-count: 1;
		animation-duration: @feed-delay / 3; // TODO this is just a guesswork "should look okay" value
	}
	.slide-in {
		animation-name: slide-in;
	}
	.fade-in {
		animation-name: fade-in;
	}

	// The initial slide/screen of the "fake social" display - doesn't animate in.
	.social-splash {
		object-fit: cover;
	}

	// The mock video or banner image - ie the "this is what you'd click on Instagram/Snap/etc" part of the social demo
	// Show the whole image/video in the foreground - the blurred background copy will fill the rest of the screen.
	.mock-ad {
		object-fit: contain;
		object-position: center;
		// The blurred full-screen background copy
		&.bg {
			object-fit: cover;
			filter: blur(10px);
			// Object-fit: cover doesn't work on videos in Edge - this fixes it by allowing it to stretch wider than 100%.
			min-width: 100%;
			min-height: 100%;
			width: unset;
			height: unset;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	// Overlay components for the mock banner - eg the "BRAND and CHARITY" and "Swipe to donate" elements
	.mock-overlay {
		background-color: transparent;
		z-index: 2;
	}
}

.click-to-play {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

// Off-set ad to slide it in when mounted.
.social-ad {
	background-color: white;
	top: 100%;
	transition: top 0.4s ease-in;
	&.show {
		top: 0;
	}
}

.adBanner {
	background-color: transparent;
	height: 1px;
	width: 1px;
}


.fake-feed {
	.overlay {
		color: white;
		> * {
			display: block;
			position: absolute;
			width: 100%;
		}
	}

	.overlay-top-gradient {
		height: 25%;
		background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
	}
	.overlay-top {
		top: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.25em 0.5em;

		.progress-bar {
			position: absolute;
			top: 10px;
			left: 1.5%;
			height: 2px;
			width: 97%;
			background-color: rgba(255, 255, 255, 0.3);
			.progress-bar-filled {
				background-color: white;
				height: 100%;
				width: 0;
					animation-timing-function: linear;
					animation-fill-mode: both;
				&.animate1 {
					animation-name: progressBar1;
				}
				&.animate2 {
					animation-name: progressBar2;
				}

			}
		}
		.brand-id {
			display: flex;
			.brand-logo, .brand-id-text {
				display: inline-block;
				text-align: left;
			}
			.brand-logo {
				height: 2em;
				width: 2em;
				border-radius: 50%;
			}
			.brand-id-text {
				margin-left: 1em;
				font-size: 80%;
				line-height: 1.25;
				.sponsored-marker {
					font-size: 90%;
				}
			}
			.brand-name {
				font-weight: bold;
			}
		}

	}

	.overlay-middle {
		height: 25%;
		bottom: 5%;
		background-image: url("/img/splash-wave.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		display: flex;
		justify-content: space-around;
		align-items: center;
		color: black;
		font-family: 'Montserrat';
		font-weight: 600;
		font-size: 80%;
		line-height: 1.25; // for vertical balance of the middle text

		.gl-logo, .charity-carousel {
			width: 5em;
			height: 5em;
			position: relative; // make carousel position/size reference for charities
		}
	}
	.overlay-bottom {
		height: 10%;
		bottom: 0;
		.bottom-arrow {
			width: 1.5em;
			height: 1.5em;
			// Mimic Instagram behaviour: plain arrow fades to inverse in roundel
			&.first {
				position: absolute;
				opacity: 1;
				animation: 0.4s fadeOut 2s linear forwards;
			}
			&.second {
				opacity: 0;
				animation: 0.4s fadeOut 2s linear reverse forwards;
			}
		}
		.interface-bits {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 0.5em;
		}
	}

	.interface-bits {
		font-size: 120%;
	}
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes progressBar1 {
	from { width: 0%; }
	to { width: 100%; }
}

@keyframes progressBar2 {
	from { width: 0%; }
	to { width: 100%; }
}