.footer {
	.col {
		color: #50555c;
		@media (max-width: 767px) {
			font-size: .8em;
		}
	}
	a {
		color: black !important;
		text-decoration: underline !important;
	}
}

.fa-svg {
	margin: 0 .2em;
	svg {
		width: 30px!important;
		height: 30px;
	}
}