@import "../../components/base/style/colours.less";
@import "./website-colours.less";
@import "./buttons.less";

@md-min: ~"(min-width: 768px)";
@md-max: ~"(max-width: 768px)";
@lg-min: ~"(min-width: 992px)";
@lg-max: ~"(max-width: 992px)";

.navbar {
	color: @gl-black;
	font-weight: 500;

	.container-fluid {
		padding: 0; // No double padding
		> :first-child, > :last-child {
			width: 10%; // Equalise width of logo and contact button to centre middle nav elements
		}
	}
}

// Override Bootstrap grey nav text
.navbar-light {
	.navbar-nav {
		.nav-link {
			color: @gl-black;
			transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
			&:hover {
				color: @gl-red;
			}
		}
	}
}

// PORTED from main-base.less, only need this bit and dont want to import entire main base less
// BS default has too much padding on the navbar logo
.navbar-brand {
	padding: 10px 2px;
	// We set our own navbar height and it might change...
	// ...so constrain image height to a safe proportion of that
	.logo {
		min-height: 50%;
		max-height: 48px; // don't allow a giant image
	}
}

.navbar-toggler-icon {
	background: none !important;
	content: unset !important;
}

// Hamburger/cross icon transition
.navbar-toggler {
	border: none !important;
	#nav-toggle-icon-hamburger {
		opacity: 0%;
		transition: 0.3s;
	}
	#nav-toggle-icon-cross {
		opacity: 100%;
		transition: 0.3s;
	}
}

.navbar-toggler.collapsed {
	#nav-toggle-icon-hamburger {
		opacity: 100%;
		transition: 0.3s;
	}
	#nav-toggle-icon-cross {
		opacity: 0%;
		transition: 0.3s;
	}
}

// Make sure items take up a suitable portion of the screen on desktop
#navItemsDiv {
	flex-basis: 100%;
}

.navbar-nav {
	width: 100%;
	justify-content: center;
}

#navItemsDiv .nav-item {
	display: flex;
	align-items: center;
	&:first-child .nav-link {
		padding-left: 0;
	}
	&:last-child .nav-link {
		padding-right: 0;
	}
}

.logo {
	height: 3rem !important;
	object-fit: contain;
}

// Dropdown styling
.dropdown.show {
	background: @gl-white;
	a {
		color: @gl-black !important;
	}
}

.dropdown-menu {
	background: white;
	margin: 0;
	border: none;
	border-radius: 0;
	padding: 0;
}

.dropdown-toggle::after {
	display: none;
}
