@import "../../components/base/style/colours.less";
@import "./website-colours.less";
@import "./navbar-fonts.less";
@import "./buttons.less";

@md-min: ~"(min-width: 768px)";
@md-max: ~"(max-width: 768px)";
@lg-min: ~"(min-width: 992px)";
@lg-max: ~"(max-width: 992px)";

.navbar {
    background: white;
    color: black;
	box-shadow: 0 0 4px #000;
	padding-top: 0;
	padding-bottom: 0;

    // Disable Bootstrap margins
    .flex-column>* {
        margin: 0;
    }

    // Scale font so navbar items never take up more than 1 line
    // (breakpoints found through trial and error)
    @media (max-width: 1500px) {
        font-size: 0.7rem !important;
    }
    @media (max-width: 1142px) {
        font-size: 0.6rem !important;
    }
    @media (max-width: 1034px) {
        font-size: 0.5rem !important;
    }
    @media @lg-max {
        font-size: 1rem !important;
	}
	// .btn still somehow overrided !important, so making sure it sticks
	.btn {
		@media (max-width: 1500px) {
			font-size: 0.7rem !important;
		}
		@media (max-width: 1142px) {
			font-size: 0.6rem !important;
		}
		@media (max-width: 1034px) {
			font-size: 0.5rem !important;
		}
		@media @lg-max {
			font-size: 1rem !important;
		}
	}
}

// nav link styling
nav {
	a {
		color: black !important;
	}
	a:hover {
		color: black !important;
    }
    text-align: center;
    @media @lg-max {
        text-align: left;
    }
    .btn {
        padding: 5px 50px !important;
    }
	font-family: 'Montserrat';
	font-weight: 700;
	text-transform: uppercase;
	justify-content: space-between !important;
	align-items: stretch !important;
}

// PORTED from main-base.less, only need this bit and dont want to import entire main base less
// BS default has too much padding on the navbar logo
.navbar-brand {
	padding: 2px;
	// We set our own navbar height and it might change...
	// ...so constrain image height to a safe proportion of that
	.logo { 
		min-height: 50%;
		max-height: 48px; // don't allow a giant image
	}
}

.navbar-toggler-icon {
    background: none !important;
}

// Hamburger/cross icon transition
.navbar-toggler {
    border: none !important;
	#nav-toggle-icon-hamburger {
		opacity: 0%;
		transition: 0.3s;
	}
	#nav-toggle-icon-cross {
		opacity: 100%;
		transition: 0.3s;
	}
}

.navbar-toggler.collapsed {
	#nav-toggle-icon-hamburger {
		opacity: 100%;
		transition: 0.3s;
	}
	#nav-toggle-icon-cross {
		opacity: 0%;
		transition: 0.3s;
	}
}

// Make sure items take up a suitable portion of the screen on desktop
#navItemsDiv {
    flex-basis: 60%;
    flex-grow: 0.35;
    @media @lg-max {
        flex-basis: 100%;
	}
	align-items: stretch !important;
}

.navbar-nav {
	width: 100%;
	justify-content: space-between !important;
}

.nav-item {
	display: flex;
	align-items: center;
}

.logo {
	width: 10em !important;
	height: 4rem !important;
	object-fit: contain;
}

// Dropdown styling
.dropdown.show {
    background: white;
    a {
        color: black !important;
    }
}

.dropdown-menu {
    background: white;
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 0;
}

.dropdown-toggle::after {
    display: none;
}

// Make contact button look like normal nav item on collapsable menu
@media @lg-max {
    nav {
        .btn {
            background: none !important;
            color: black !important;
            padding-left: 0.5rem !important;
            padding-right: 0.5rem !important;
            margin-top: 1.5rem !important;
            margin-bottom: 1.5rem !important;
            text-align: left;
        }
        .nav-link.btn:hover, .nav-link.btn:active, .nav-link.btn:focus {
            background: none !important;
            color: black !important;
        }
        .nav-link {
            margin-top: 1.5rem !important;
            padding-left: 0.5rem !important;
        }
    }
}