@import 'ad-sizer.less';

@import 'demo/navbar.less';
@import 'demo/device-frame.less';
@import 'demo/DemoPlayer.less';
@import 'demo/footer.less';

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// TODO Is this correct? We have a LOT of different reds defined now.
@gl-red: #830000;

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

body {
	overflow-x: hidden;
}


//// Main Container ////
.container {
	padding-top: 10em;
	@media (max-width: 767px) {
		padding-top: 4em;
	}
}

.red-bg, .half-bg {
	position: relative;
	&:before, &:after {
		content: '';
		display: block;
		height: 100%;
		width: 50vw;
		position: absolute;
		top: 0;
		z-index: -1;
	}

	&:before {
		right: 50%;
	}

	&:after {
		left: 50%;
	}
}

.red-bg {
	&:before, &:after {
		background-color: @gl-red;
	}
}

.half-bg {
	&:before, &:after {
		background-image: linear-gradient(to bottom, white 50%, @gl-red 50%);
	}
}

//// Red BG Section ////

.red-bg { 
	color: #fff;
	padding: 2em;
	@media (max-width: 767px) { // Small chages in layout on smaller screen
		padding: 2em 0;
		.playermiddleheader {
			padding: 2em 0;
		}
	}
}

.red-middle-col {
	max-width: 600px;
	margin: 0 auto;
}

.fullscreen-button, .get-in-touch-button {
	border: 1px solid white;
	padding: 1em 2em;
	border-radius: 50px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin: 2em 0;
	text-transform: uppercase;
	&:hover {
		text-decoration: none;
		color: #fff;
		background-color: #a30000;
	}
}

.playermiddleheader {
	padding: 2em;
}


//// Footer ////


//// How it works section ////

.how-it-works-row {
	img {
		width: 8em;
		height: 10em;
		object-fit: contain;
		&.coins-img { // Coins image slightly too big comapred to others
			width: 7em;
		}
	}
}


// Using em for height instead of vh because vh can cause scrolling on mobile Webkit, due to
// dodgy address-bar height reporting - we have JS setting font-size to 1% window.inner-height
#fullscreen {
	height: 100em;
	width: 100vw;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

// Optimise aspect ratios
// Using em instead of vh, see above

// Landscape ad, screen wider than 16:9
@media (min-aspect-ratio: ~"16/9") {
	#fullscreen.landscape .fullscreen-inner {
		width: 177.77em;
		height: 100%;
	}
}

// Landscape ad, screen taller than 16:9
@media (max-aspect-ratio: ~"16/9") {
	#fullscreen.landscape .fullscreen-inner {
		width: 100%;
		height: 56.25vw;
	}
}

// Portrait ad, screen wider than 9:16
@media (min-aspect-ratio: ~"9/16") {
	#fullscreen.portrait .fullscreen-inner {
		width: 56.25em;
		height: 100%;
	}
}

// Portrait ad, screen taller than 9:16
@media (max-aspect-ratio: ~"9/16") {
	#fullscreen.portrait .fullscreen-inner {
		width: 100%;
		height: 177.77vw;
	}
}