/* TODO drop much of this */
@import "../js/base/style/main-base.less";
// @import "oldcruft.less"; // can we just drop this?

body {
	background: #FBFAFA;
}

/** The gl logo */
.header-image {
	width:95px;
}

#outer {
	background-image: url("https://image.ibb.co/bucnbL/black-iphone.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 362px 766px;
	height: 780px;
	min-width: 362px;
	text-align: center;
	margin: 1vmin 0 0 3vmin;
}

#outer iframe {
	position: relative;
	width: 320px;
	height: 604px;
	top: 76px;
}
